# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Environnement virtuel
.venv/
venv/
env/

# ChromaDB
dbfig_pc/

# Données brutes (volumineuses)
data/raw/
data/processed/
data/chroma_db/

# Fichiers de config locaux
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Rapport LaTeX (dossier entier exclu du dépôt)
rapport/
